@import "tailwindcss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "kanit";
}

html{
    font-size:62.5%;
}

.header{
    padding: 12px 4px 6px 10px;
    font-family: 'bebas';
    letter-spacing: 7px;
}
.navbar{
    padding: 40px;
}

.searchbar{
    margin: 4px;
    padding: 12px;
}

.searchbar input{
    padding: 8px;
}
.post-profile{
    margin: 1px;
    padding: 10px;
}
.post-profile button{
    padding:30px;
}

.sidebar{
    margin: 2px;
}
.links{
    margin: 17px;
}
.links a{
    padding: 3px;
}
.links a i{
    margin-left: 5px;
}

.news,.blogs{
    margin-top: 10px;
}
.news{
    margin-left: 50px;
}

.news-grid{
    padding: 5px;
}

.news::-webkit-scrollbar{
    display: none;
}
.bookmarks-content::-webkit-scrollbar{
    display: none;
}

.headline h2{
    padding: 1rem;
}

.content{
    padding: 10px;
}
.content a{
    padding:5px;
}
.content h4{
    margin-bottom: 10px;
    margin-top: 20px;
}
.bookmark-title{
    padding: 9px;
}
.bookmarks-content {
    padding: 5px;
    margin-top: 10px;
}
.list{
    margin: 10px;
}
.weather{
    margin: 20px;
    padding: 40px;
}

.w-data{
    margin-top: 10px;
}
.search input{
    padding:12px 1px 15px 1px;
}
.blog-form h1{
    margin-bottom: 30px;
}
.blog-form input[type="text"]{
    padding-bottom:20px
}
.posts{
    background:url(../src/assets/images/post.jpg) center no-repeat ;
    background-size: cover;
}
.weather{
    margin-top: 50px;
}
.weather{
    background: url(../src/assets/images/weatherbg.jpg)  no-repeat;
    background-size: cover;
}
.blogs-post{
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
}
.blogs-post::-webkit-scrollbar{
    display: none;
}
.single-post:hover .btns{
    opacity:1;
    visibility: visible;
}
.single-post h2{
    padding: 3px;
}
.blogs hr{
    margin: auto;
}
.blog-title{
    padding: 10px;
}
.blog-form button{
    padding: 10px;
}

.blogs-model::-webkit-scrollbar{
    display: none;
}
.news-model::-webkit-scrollbar{
    display: none;
}
.blogs-model span i{
    padding: 4px;
}
#create-btn{
    padding: 10px 20px;
}
.footer{
    padding: 50px;
}
.footer span{
    margin: 15px;
}

  /* Large Screens (1441px - 1920px) */
  @media (max-width: 1920px) {
    body {
      font-size: 17px;
    }
    .news-text h2{
        padding: 10px;
    }
   
  }
  
  /* Laptops (1025px - 1440px) */
  @media (max-width: 1440px) {
    body {
      font-size: 18px;
    }
    
  }
  
  /* Tablets (768px - 1024px) */
  @media (max-width: 1024px) {
    body {
      font-size: 15px;
    }
    .headline{
        padding: 10px;
    }
   

    
}
  
  /* Large Mobile Devices (481px - 767px) */
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
    .navbar{
        width:1000px;
        height: 100px;
    }
    .header{
        font-size: 3.9rem;
    }
    .searchbar{
        width: 150px;
        font-size: 2rem;
    }
    .post-profile button{
        font-size: 2.3rem;
    }
    .sidebar{
        display: none;
    }
   .menu{
    padding: 10px;
   }
   .menu a{
    padding: 5px;
   }
    .blogs{
        margin-left: 50px;
        width: 100%;
        height: 50%;
    }
    .weather{
        margin-left: 50px; 
  
    } 
    .blogs-post{
        width: 400px;
        height: 30%;
    }
    .blog-title{
        width: 20px;
    }
    .no-post{
        margin: 5px;
    }
    .footer{
        width: 1000px;

    }
    .w-BContain{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
    }
    .weather{
        width: 100%;
        height: 70%;
    }
   .weather-content{
    padding: 50px;
   }
  }
  
  /* Small Mobile Devices (320px - 480px) */
  @media (max-width: 480px) {
    body {
      font-size: 13px;
    }
    .w-BContain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogs{
        margin: auto;
        margin-left: 250px;
    }
    .single-post{
        margin-top: 20px;
        margin: auto;
    }
    .single-post img{
        width: 100%;
    }
   .weather{
    margin: auto;
    margin-left: 50%;
   }
   .weather-content{
    margin: auto;
   }
   
  }
  
  @media (max-width: 320px) {
    body {
      font-size: 13px;
    }
   .weather{
    margin: auto;
    margin-left: 80%;
   }
   .weather-content{
    margin: auto;
    padding: 30px;
   }
   
  }
  

